<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Chloe and Joey's Travel Website</h1>
  <p>This is the page where you can see our journey.</p>
  <p>You can create an accout to access full content.</p>
  <%= link_to "Create an account", signup_path, class: "btn btn-lg btn-primary" %>
</div>
