<footer class="footer">
  <small>
  <p>Our travel site is an open-source project built using Rails with Bootstrap.<p>
  <p>Source is available on <a href="https://github.com/chloe-vilain/travel_app">github</a>; please credit
    us if used!</p>
  </small>
</footer>
